/* COLOR PALETTE
dark purple: #331940
white: #E5E5E5
green: #0CCA98
light purple: #4D4365
white: #e5e5e5 */

.background--purple {
  background-color: #331940;
  color: #e5e5e5;
}

.logo--round {
  background-color: #4D4365;
  height: 0;
  padding-bottom: 50%;
}

.btn--green {
  background-color: #0CCA98;
  border-color: #0CCA98;
}

.btn--green:hover {
  background-color: #0CCA98;
  border-color: #0CCA98;
  filter: brightness(80%);
}

.btn--green:focus {
  background-color: #0CCA98;
  border-color: #0CCA98;
}

.form-group--light,
.form-group--light:hover,
.form-group--light:active,
.form-group--light:focus {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.01rem solid #e5e5e5;
  color: #e5e5e5;
}

.form-group--light::placeholder {
  color: #e5e5e5;
}

.form-group--light:-webkit-autofill,
.form-group--light:-webkit-autofill:hover,
.form-group--light:-webkit-autofill:focus,
.form-group--light:-webkit-autofill:active {
  transition: background-color 5500s ease-in-out 0s;
  -webkit-text-fill-color: #e5e5e5;
}

.cookie {
  width: 5%;
}

.form-group--light:focus {
  background: transparent;
  color: #e5e5e5;
}

.form-group__envelope--white,
.form-group__envelope--white:focus {
  background-image: url(../img/icons/emailwhite.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 1rem;
}

.form-group__lock--white,
.form-group__lock--white:focus {
  background-image: url(../img/icons/lock_white.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 1rem;
}